#jinja2: trim_blocks:False
consul = "{{ consul_template_consul_server }}:{{ consul_template_consul_port }}"
{% if consul_template_log_level -%}
log_level = "{{consul_template_log_level}}"
{% endif -%}
{% if consul_template_wait is defined -%}
wait = "{{consul_template_wait}}"
{% endif -%}
retry {
  enabled = true
  attempts = 12
  backoff = "250ms"
}
{% if not consul_template_use_config_dir -%}
{% if consul_template_templates -%}
{% for template in consul_template_templates -%}
template {
  source = "{{ consul_template_home }}/templates/{{ template.name }}"
  destination = "{{ template.dest }}"
  {% if template.cmd is defined %}command = "{{ template.cmd }}"{% endif %}
  {% if template.perms is defined %}perms = {{ template.perms }}{% endif %}
  {% if template.backup is defined %}backup = {{ template.backup|lower }}{% endif %}
  {% if template.wait is defined %}wait = {{ template.wait|lower }}{% endif %}
}{% endfor -%}
{% endif -%}
{% endif -%}
